

.btn {
  display: inline-block;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing 0:.6px;
  color: white;
  outline: none;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration none :!important;
  border: none;
  border-radius: 3px;
  background-color: #4688F1;
  -webkit-transition: background-color 200ms;
          transition: background-color 200ms;
  white-space: nowrap;
  -webkit-appearance: none;
          appearance: none;
  -webkit-user-select: none;
          user-select: none; }

  .btn:hover {
    background-color: #1454BA;
  }

  .btn-massive {
    font-size: 18px;
    padding: 0 100px;
    height: 60px;
    line-height: 60px;
  }

  .btn-gray {
    color: #555;
    background-color: #DDD; }
    .btn-gray:hover {
      color: #444;
      background-color: #CCC; }

.btn-container {
  text-align: center;
}